
.footer{ background-color: #005695; 
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img{ width: 3vw;
    height: 5vh;}

    section{ 
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3{color: white;
        font-size: 2vw;}
    }

    nav{
        width: 21%;
        display: flex;
        justify-content: space-between;
    }

}