.header {
    background: linear-gradient(90deg, #001b2f 0%, #005695 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
      width: 100%;
  
   
  }

  .logoHeader {
    max-width: 97vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  
    img {
      width: 20%;
    }
  
    h1 {
      font-size: 2vw;
      color: #fff;
    }
  }

.navHeader {
    width: 30%;
    
  
    ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    }
  
    .link {
      color: #ccc;
      font-size: 1.5vw;
  position: relative;
  transition: color 0.4s ease;
  font-weight: 500;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    left: 0;
    bottom: -3px; /* Distância do texto */
    transition: width 0.4s ease-in-out;
  }

  &:hover::after {
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    right: 0;
    bottom: -3px; /* Distância do texto */
    transition: width 0.4s ease-in-out;
  }

  &:hover::before {
    width: 100%;
  }

  &:hover {
    color: white;
  }

    }
  }

  .barraDeBusca {
    border: solid #fff;
    border-radius: 20px;
    margin-right: 1%;
    width: 20%;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    input {
      background-color: transparent;
      border: none;
      width: 60%;
      height: 5vh;
  
      &::placeholder {
        color: #fff;
        font-size: 20px;
      }
    }
  
    button {
      position: absolute;
    right: 33px;
    top: 53%; 
    transform: translateY(50%);
    background-color: transparent;
    border: none;
    cursor: pointer;  
     
    img {
      width: 18px;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(0.94);
      }
    }


    }
  }

  @media (max-width: 800px) {
    .header{padding-block: 0.7rem;
      flex-direction: column;
      gap: 28px;}

    

    .barraDeBusca{
      display: none;
    }

    .navHeader{
      ul, li, .link{font-size: 18px;}
    }

    .barraDeBusca{display: none;}
  }